* {
  font-family: poppins;
}
body {
  margin: 0;
  background-color: #fcf3fd;
  color: #1b041e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
}
/* styling the navigation bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color:#c671da;
  z-index: 99999;
  top: 0;
  height: fit-content;
}
.navbar i {
  width: 20px;
}


.nav-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  padding: 10px 15px;
  color: #fcf3fd;
  border-radius: 8px;
  transition: background 0.3s;
}

.nav-links a:hover {
  color: #7431de;
}

.search-btn button {
  background: #fcf3fd;
  color: black;
  border: none;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
  transition: scale 600ms ease;
}
.search-btn button:hover {
  color: none;
  scale: 1.08;
}

.note {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero button {
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 150px;
  animation: browse 1s infinite alternate;
  transition: transform 5s ease-in-out;
  background-color: #d884ec;
  cursor: pointer;
}
.hero button:hover {
  background-color: #7431de;
  color: antiquewhite;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #c671da, #fcf3fd);
  animation: fadeIn 2s forwards;
  height: 100vh;
}

.hero h1,
.hero span {
  font-family: Pacifico;
  font-size: 1.8rem;
  color: #0d1112;
  text-wrap: balance;
}

/* products section  */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products p {
  font-size: 0.9rem;
  text-align: center;
}
.products .card {
  opacity: 0;
  background-color: #C3B1E1;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 25px 20px;
  width: 280px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #2c2c2c;
  transition: transform 0.3s ease, box-shadow 0.3s ease,opacity 800ms ease;
  cursor: pointer;
}
.products .card.show{
  opacity: 1;
}
.products .cards-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-wrap: balance;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: circle;
}

.package-title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #6a2cbc; /* darker purple */
}
.package-price {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #4b3b78;
}
.products .card:hover {
 transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.products hr {
  width: 200px;
}
/* about section  */
.about h2 {
  text-align: center;
}

.about p {
  max-width: 650px;
  text-align: center;
  text-wrap: balance;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#tiktok {
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 150px;
  background-color: #d884ec;
  cursor: pointer;
}
#tiktok:hover {
  background-color: #7431de;
  color: antiquewhite;
  
}

hr {
  width: 0;
  animation: line2 10s infinite alternate;
  background-color: #0d7da2;
}
/* scrolling  */
html {
  scroll-behavior: smooth;
  width: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
#vedio-container{
  display: flex;
  gap: 50px;
}
.video{
  width: 280px;
  height: 300px;
  opacity: 0;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
  box-shadow:0px 0px 50px #7431de;
  transition: opacity 800ms ease;
}
.video.show{
  opacity: 1;
}
.Contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c671da;
  position: sticky;
  width: 100%;
  bottom: 0;
  color:#0d1112;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes browse {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* responsive section */
@media (max-width: 768px) {
  .hero h5 {
    font-size: 1rem;
  }

  .nav-links {
    display: none;
  }

  .products .cards-product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
  }

  .about p {
    max-width: 450px;
    text-align: center;
    font-size: 0.8rem;
    text-wrap: balance;
  }
#vedio-container{
  display: flex;
  gap: 50px;
  flex-direction: column;
}

  .footer {
    font-size: 0.8rem;
  }
}
